@import "tailwindcss";

@theme {
  --color-accent: #000000;
  --color-primary: #000000;
  --color-secondary: #ede6d7;
}

html {
  scroll-behavior: smooth;
  background-color: #ede6d7;
}

*{
  @apply font-(family-name:--font-montserrat)
}

.catchphrase {
  @apply font-(family-name:--font-merriweather)
}

.button {
  @apply font-semibold px-6 py-3 w-fit hover:scale-105 hover:bg-gray-100 transition-all duration-300 ease-in-out uppercase tracking-wider leading-[24px] cursor-pointer;
}

.h1 {
  @apply text-primary font-bold text-5xl tracking-wider leading-[4.5rem];
}

.h2 {
  @apply text-accent font-bold text-4xl tracking-wider leading-[4.5rem];
}

h1, h2, h3, h4, h5, h6 {
  @apply font-(family-name:--font-bebas)
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dashboard_bg{
  @apply bg-zinc-50  min-h-[100dvh] min-w-[100dvw]
}

.dashboard_input {
  @apply bg-white border-zinc-200 px-4 py-2 rounded-lg
}

.dashboard_button_info {
  @apply text-white bg-blue-500 px-4 py-2 rounded-4xl cursor-pointer hover:bg-blue-700 transition-all duration-200
}

@layer components {
  .header-line {
    width: 90%;
    height: 2px;
    background-color: theme('colors.accent');
  }
}

@layer components {
  .border-wrapper {
    position: relative;
  }

  .border-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    height: 2px;
    background-color: theme('colors.secondary');
  }

  .border-wrapper::after {
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 0;
    width: 2px;
    background-color: theme('colors.secondary');
  }

  .border-wrapper .border-right {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 0;
    width: 2px;
    background-color: theme('colors.secondary');
  }

  .border-wrapper .border-bottom {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 2px;
    background-color: theme('colors.secondary');
  }
}