@import "tailwindcss";

@theme {
  --color-accent: #000000;
  --color-primary: #000000;
  /*--color-secondary: #EAE4D5*/
  --color-secondary: #f8f4eb
}

html {
  scroll-behavior: smooth;
  background-color: #f8f4eb;
}

*{
  @apply font-(family-name:--font-montserrat)
}

h1, h2, h3, h4, h5, h6 {
  @apply font-(family-name:--font-bebas)
}

.h1 {
  @apply text-primary font-bold text-5xl tracking-wider leading-[4.5rem];
}

.h2 {
  @apply text-accent font-bold text-4xl tracking-wider leading-[4.5rem];
}

.button {
  @apply font-semibold px-6 py-3 w-fit hover:scale-105 hover:bg-gray-100 transition-all duration-300 ease-in-out uppercase tracking-wider leading-[24px] cursor-pointer;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dashboard_bg{
  @apply bg-zinc-50  min-h-[100dvh] min-w-[100dvw]
}

.dashboard_input {
  @apply bg-white border-zinc-200 px-4 py-2 rounded-lg
}

.dashboard_button_info {
  @apply text-white bg-blue-500 px-4 py-2 rounded-4xl cursor-pointer hover:bg-blue-700 transition-all duration-200
}
